---
// Components
import Heading from "@/components/ui/Heading.astro";
import Link from "@/components/ui/Link.astro";
---

<header class="hero-projects" aria-label="Introduction to Jaime">
  <div class="rows">
    <Heading tagName="h1" size="h2">Projects Page</Heading>
    <p class="">Here are some recent projects.</p>
  </div>
</header>
