---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Homepage" description="home page description">
  <h1 class="assr">Homepage</h1>
  <p class="">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi debitis at
    aspernatur asperiores nesciunt porro praesentium odit earum. Deleniti,
    praesentium nemo. Deleniti at in adipisci.
  </p>
</BaseLayout>
