---
export const prerender = false;

import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/projects/Hero.astro";
import ContactForm from "@/components/ContactForm.astro";
import ProjectTile from "@/components/ui/ProjectTile.astro";
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";

const projects = await getCollection("projects");
const allTools = await getCollection("tools");
---

<BaseLayout title="Projects Page" description="a page of projects">
  <Hero />
  <!-- filter -->
  <div class="container">
    <div class="filter-wrapper">
      <div class="columns">
        <p>Filter by tools:</p>
        <!-- check if there are filters -->
        <button class="btn badge relative" aria-pressed="true">
          <Icon class="close" name="icon--close" aria-hidden="true" size={18} />
          <span>Clear All</span>
        </button>
      </div>
      <ul class="">
        {
          allTools.map((t) => (
            <li>
              <button
                class="btn badge relative"
                data-tool="t.id"
                aria-pressed="true">
                <span>{t.data.title}</span>
                <Icon
                  class="close"
                  name="icon--close"
                  aria-hidden="true"
                  size={18}
                />
              </button>
            </li>
          ))
        }
      </ul>
    </div>

    <div class="grid-wrapper">
      {projects.map(({ data }) => <ProjectTile data={data} />)}
    </div>
  </div>
  <!-- grid of projects -->
  <ContactForm />
</BaseLayout>
