---
import "../styles/global.css";
import BaseHead from "./BaseHead.astro";
---

<html lang="en">
  <BaseHead {...Astro.props} />
  <body>
    <main class="max-w-6xl mx-auto border-2 border-zinc-500 rounded-lg m-6 p-8">
      <slot />
    </main>
  </body>
</html>
