---
import { baseData } from "@/data/siteData";
import "@fontsource/poppins";
import '@fontsource-variable/raleway';
import { ViewTransitions } from "astro:transitions";

type Props = {
  title?: string;
  description?: string;
};

const { title = baseData.title, description = baseData.description } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <meta name="description" content={description} />
  <title>{title}</title>
  <link rel="sitemap" href="https://build-modern-websites-with-astro.netlify.app/sitemap-index.xml">
  <ViewTransitions />
</head>
